.open-positions{
    height: 25rem;
    margin-top: 4rem;
    padding: 2rem;
    background-color:var(--color1);
}

.open-positions .etiqueta{
    color: var(--color4);
}

.open-positions h2{
    color: var(--color4);
    font-size: 4rem;
    margin-top: 4rem;
}

.open-positions p{
    font-size: 1.6rem;
}

