.What-makes-rappid-great{
    padding: 1rem 2rem;
}

.galeria {
    margin-top: 5rem;
}

.jc-img{
    margin-top: 4rem;
    width: 100%;
    height: 30rem;
}

.jc-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-contenido h3 {
    font-size: 2rem;
    margin-top: 2rem;
}

.item-contenido p{
    font-size: 1.5rem;
    color: var(--color2);
    font-weight: 500;
}

.item-contenido span{
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color1);
    margin-top: 1rem;
}